[Unit]
Description=Poll NBC at :15 and :45 Pacific

[Timer]
OnCalendar=*-*-* *:15:00 America/Los_Angeles
OnCalendar=*-*-* *:45:00 America/Los_Angeles
Persistent=true
Unit=audio-downloader-nbc.service

[Install]
WantedBy=timers.target
